
[Desktop Entry]
Version=1.0
Name=DockBarX
Type=Application
X-AWN-AppletType=Python
Comment=DockBar for AWN
X-AWN-AppletExec=DockBarX/DockBarX.py
Exec=awn-applet -p %k
Icon=dockbarx
X-AWN-AppletCategory=Utility
Name[sv_FI]=DockBarX
