
[Desktop Entry]
Version=0.39
Name=DockX
GenericName=Dock for DockbarX
Comment=Stand-alone dock for DockbarX
Exec=dockx
Icon=dockbarx
Terminal=false
Type=Application
Categories=Utility;
Name[sv]=DockX
